
/* Compression: at least one missing file. See http: //www.vsan.cn/*/
*html
body {
	background-image: url(/css/about: blank);
	background-attachment: fixed;
	behavior: url(/css/hover.htc)
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font: 12px/12px tahoma,verdana,arial,helvetica,sans-serif;
	color: #333
}
div,ul,ol,li,dl,dt,dd,span,h1,h2,h3,h4,h5,h6 {
	border: 0px;
	margin: 0px
auto;
	padding: 0px;
	text-align: left;
	height: auto
}
p {
	border: 0px;
	margin: 0px
auto;
	padding: 0px;
	height: auto
}
form,select {
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: auto
}
input,select,img {
	vertical-align: middle
}
h1,h2,h3,h4,h5,h6 {
	font-size: 12px
}
s,u,i {
	text-decoration: none
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
th {
	text-align: right
}
img,form {
	border: 0px
}
li {
	list-style: none
}
em,i,address {
	font-style: normal
}
h1,.h1 {
	font: bold 18px "Microsoft YaHei",arial
}
h2,.h2 {
	font: bold 14px "Microsoft YaHei",arial
}
a: link,a: visited {
	color: #08C;
	text-decoration: none;
	outline: none
}
a: hover {
	color: #005580;
	text-decoration: none
}
a.line: link,a.line: visited,.aline a,.aline a: link,.aline a: visited {
	text-decoration: underline
}
a.line: hover,.aline a: hover {
	text-decoration: none
}
.fl {
	float: left
}
.fr {
	float: right
}
.cl {
	clear: both
}
.clf: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '.';
	clear: both;
	height: 0
}
*html
.clf {
	zoom: 1
}
*: first-child +html
.clf {
	zoom: 1
}
.dno {
	display: none
}
.dbl {
	display: block
}
.ahd {
	cursor: pointer
}
.tal {
	text-align: left
}
.cet {
	text-align: center
}
.tar {
	text-align: right
}
.abso {
	position: absolute
}
.rela {
	position: relative
}
.pfix {
	position: fixed
}
.red {
	color: red
}
input,button,select,textarea {
	outline: none
}
textarea {
	resize: none
}
.plug_range_bg {
	background: url(../Image/plug_range.png) no-repeat
}
.plug_range_box {
	position: relative;
	margin: 0;
	width: 100%;
	height: 18px
}
.plug_range_strip {
	width: 100%;
	height: 18px;
	background-position: 0 -20px;
	background-repeat: repeat-x;
	overflow: hidden
}
.plug_range_mark {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 18px
}
.plug_range_mark: hover {
	background-position: -11px 0
}
.plug_range_mark: active {
	background-position: -22px 0
}
.plug_range_disabled,.plug_range_disabled: hover,.plug_range_disabled: active {
	background-position: -33px 0
}
div.colorPicker-picker {
	height: 16px;
	width: 16px;
	padding: 0
!important;
	border: 1px
solid #ccc;
	background: url(../Image/plug_colorPicker_arrow.gif) no-repeat top right;
	cursor: pointer;
	line-height: 16px;
	display: inline;
	float: left
}
div.colorPicker-palette {
	width: 110px;
	position: absolute;
	border: 1px
solid #598FEF;
	background-color: #EFEFEF;
	padding: 2px;
	z-index: 1000002
}
div.colorPicker_hexWrap {
	width: 100%;
	float: left
}
div.colorPicker_hexWrap
label {
	font-size: 95%;
	color: #2F2F2F;
	margin: 5px
2px;
	width: 25%
}
div.colorPicker_hexWrap
input {
	margin: 5px
2px;
	padding: 0;
	font-size: 95%;
	border: 1px
solid #000;
	width: 65%
}
div.colorPicker-swatch {
	height: 12px;
	width: 12px;
	border: 1px
solid #000;
	margin: 2px;
	float: left;
	cursor: pointer;
	line-height: 12px
}
.home {
	background: url(../Image/body_bg.gif) left 90px repeat-x
}
.sub {
	background: url(../Image/body_bg1.gif) left 88px repeat-x
}
.pubwnew {
	width: 100%
}
.header {
	width: 100%;
	height: 90px
}
.header .boxnew
.fl {
	width: 251px;
	height: 55px;
	padding-top: 20px
}
.header .boxnew .fl
a {
	display: block;
	width: 297px;
	height: 60px;
	background: url(../Image/cli_logo.png?v=820) no-repeat;
	text-indent: -99em;
	overflow: hidden
}
.header .boxnew
.fr {
	padding-top: 5px;
	color: rgb(102, 102, 102)
}
.header .boxnew .fr a: link,.header .boxnew .fr a: visited {
	color: rgb(51, 51, 51)
}
.header
.tmy {
	top: 7px;
	right: 20px
}
.menu_nav {
	margin-top: 32px;
}
.menu_nav li ,.sub_nav
li {
	padding: 0px;
	width: 100px;
	height: 58px;
	text-align: center;
	line-height: 38px;
	margin-left: 5px;
	float: left;
	list-style-type: none
}
.menu_nav li a ,.sub_nav li
a {
	font: 16px/38px "Microsoft YaHei", arial;
	width: 100px;
	height: 58px;
	color: rgb(0, 0, 0);
	display: block;
	font-size-adjust: none;
	font-stretch: normal
}
.menu_nav li.current
a {
	background: url(../Image/nav_bg.gif) center bottom no-repeat;
	color: rgb(16, 115, 37);
	display: block;
	font-weight: bold
}
.menu_nav li a: hover {
	background: url(../Image/nav_bg.gif) center bottom no-repeat;
	color: rgb(16, 115, 37);
	display: block
}
.sub .menu_nav li.current
a {
	background: url(../Image/nav_bg1.gif) center bottom no-repeat;
	color: rgb(16, 115, 37);
	display: block
}
.sub .menu_nav li a: hover {
	background: url(../Image/nav_bg1.gif) center bottom no-repeat;
	color: rgb(16,115,37);
	display: block
}
#denglu {
	background: #434343
}
#zhuce {
	background: #1C8821
}
#denglu,#zhuce {
	float: left;
	width: 50px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	font-size: 15px;
	font-family: 微软雅黑;
	color: #fff
}
#myshow {
	margin-top: -38px;
	margin-left: 90px;
	background: #1C8821;
	width: 30px;
	height: auto;
	color: #fff
}
#myewm {
	height: auto;
	width: 90px;
	background: #434343;
	color: #fff
}
#myinfo {
	display: none;
	height: 100px;
	width: 200px;
	line-height: 35px;
	text-align: center;
	float: right;
	position: relative;
	z-index: 9;
	border: 1px
solid #1C8821;
	background: #FFF
}
#myinfo
a {
	color: #000;
	font-size: 14px;
	font-family: 微软雅黑;
	display: block;
	height: 27px;
	width: auto
}
#myewm: hover
#myinfo {
	display: block
}
#ss {
	margin-right: 20px
}
#login_li {
	margin-top: 5px;
	height: auto;
	margin-right: 20px
}
.second_menu {
	height: 45px;
	width: 100%
}
#model {
	width: 990px;
	margin: 0
auto
}
#model
a {
	margin: 10px
0px 0px;
	padding: 3px
0px 0px;
	width: 86px;
	height: 31px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-family: "Microsoft YaHei",arial;
	font-size: 16px;
	float: left;
	border: 1px
solid #a0a0a0;
	border-left: none;
	border-bottom: none;
	border-top-right-radius: 8px;
	margin-left: -15px
}
#type-text {
	border-left: 1px solid #a0a0a0!important;
	border-top-left-radius: 8px!important
}
#model
a.on {
	width: 86px;
	color: #222;
	font-weight: bold;
	background: url(../Image/tab_hover.gif) no-repeat;
	border: none;
	height: 32px;
	z-index: 999;
	position: relative;
	border-top-left-radius: 8px
}
.top_bg {
	height: 45px;
	width: 100%;
	background: url(../Image/body_bg.gif?v=0824) repeat-x
}
.top_title {
	width: 990px;
	margin: 0
auto
}
.top_title
a {
	margin: 10px
0px 0px;
	padding: 3px
0px 0px;
	width: 86px;
	height: 32px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-family: "Microsoft YaHei",arial;
	font-size: 16px;
	float: left
}
.top_title
a.on {
	width: 86px;
	color: #222;
	font-weight: bold;
	background: url(../Image/tab_hover.gif) no-repeat
}
.bg {
	font-size: 14px
}
.gre {
	background: rgb(229,255,225)
}
.red {
	background: rgb(255,226,226)
}
.yel {
	background: rgb(252,255,210)
}
.describe {
	font: 16px/35px "Microsoft YaHei", arial;
	width: 100%;
	height: 35px;
	color: rgb(136, 136, 136);
	padding-left: 20px;
	font-size-adjust: none;
	font-stretch: normal
}
.describe
div {
	left: 0px;
	top: 0px;
	width: 848px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px
}
.describe
a {
	padding: 0px
3px;
	color: rgb(102,102,102)
}
.ishar {
	padding: 25px
0 0 310px
}
.qrtype {
	width: 990px;
	margin: 0;
	padding: 0
0px
}
.acot
textarea {
	overflow: hidden
}
.acot {
	padding-top: 7px
}
.acot
.top {
	top: 0px;
	height: 38px;
	padding-left: 0px;
	z-index: 2;
	overflow: hidden
}
.acot .top
a {
	margin: 2px
0px 0px;
	padding: 3px
0px 0px;
	width: 86px;
	height: 38px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-family: "Microsoft YaHei",arial;
	font-size: 16px;
	float: left
}
.acot .top a: hover {
	font-weight: bold
}
.acot .top
a.on {
	width: 86px;
	color: #222;
	font-weight: bold;
	background: url(../Image/tab_hover.gif) no-repeat
}
.acot
.tab_sep {
	}
.acot
.box {
	float: left;
	margin: 0px;
	padding: 0px
0px 20px 20px;
	width: 550px
}
.acot
.biz {
	height: 268px
}
.acot .box
h2 {
	font: 14px/1.5 arial;
	padding: 12px
25px 0px;
	color: rgb(51, 89, 114);
	font-size-adjust: none;
	font-stretch: normal
}
.acot .box
label {
	cursor: pointer
}
.acot .box
p {
	padding: 5px
25px;
	color: #666;
	line-height: 1.5
}
.acot .box
p.oa {
	padding-top: 0px
}
.acot .box
.dos {
	padding: 10px;
	border: 2px
solid #a0a0a0;
	width: 500px;
	height: 18px;
	line-height: 18px;
	font-size: 16px
}
.acot .box
.radio {
	margin-top: 0px
}
.acot .box
.vcard {
	padding: 2px;
	border: 2px
solid #A0A0A0;
	width: 240px;
	height: 18px;
	line-height: 18px
}
.acot .box
.vcard_l {
	width: 50%;
	overflow: hidden;
	float: left
}
.acot .box
.vcard_r {
	width: 50%;
	overflow: hidden;
	float: left
}
.submit {
	padding-top: 20px
}
.button: link {
	background: #1c8821;
	font: 24px/62px "Microsoft YaHei", arial;
	margin: 0px
auto;
	border-radius: 2px;
	width: 270px;
	height: 62px;
	color: #fff;
	display: block;
	font-size-adjust: none;
	font-stretch: normal
}
.button: visited {
	background: #1c8821;
	font: 24px/62px "Microsoft YaHei", arial;
	margin: 0px
auto;
	border-radius: 2px;
	width: 270px;
	height: 62px;
	color: #fff;
	display: block;
	font-size-adjust: none;
	font-stretch: normal
}
.button: hover {
	color: #fff;
	background: #0e7712;
	text-shadow: 0px -1px 0 #222
}
.button: active {
	color: rgb(5,36,54)
}
.biz_total {
	width: 550px;
	float: left;
	margin: 0px;
	padding: 0px
0px 20px 20px
}
.biz_total
p {
	padding: 5px
25px;
	color: #666;
	line-height: 1.5
}
.biz_total
.box2 {
	height: 300px
}
.biz_ad {
	width: 550px;
	height: 122px;
	margin-top: 17px;
	border: 2px
solid #A0A0A0
}
.biz_ad_tel {
	margin: 35px
0px 0px 35px;
	padding: 5px
0px 10px 30px;
	width: 250px;
	height: auto;
	line-height: 28px;
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
	float: left
}
.biz_ad_tel
.biz_ad_tel_title {
	line-height: 18px
}
.biz_ad_tel
.telphone {
	margin: 5px
0px 0px 10px;
	float: left
}
.icon_tel {
	background: url("../Image/icon_tel_50x50.png") no-repeat;
	padding-left: 55px
}
.icon_tel
p {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 18px
}
.biz_ad_qq
iframe {
	margin: 50px
0px 0px 40px
}
.bpost {
	background: white;
	padding: 0px
10px;
	border: 5px
solid rgb(242, 242, 242);
	line-height: 25px
}
.art .bpost h2 a: link {
	color: rgb(3, 92, 22);
	line-height: 30px;
	font-size: 24px;
	font-weight: bold
}
.art .bpost h2 a: visited {
	color: rgb(3, 92, 22);
	line-height: 30px;
	font-size: 24px;
	font-weight: bold
}
.bpost h2 a: visited {
	color: rgb(3, 92, 22)
}
.bpost h2 a: hover {
	color: rgb(51,51,51)
}
.bentry {
	padding-top: 5px
}
.bentry
h1 {
	height: 2em;
	line-height: 2em;
	overflow: hidden;
	padding-left: 15px;
	font-weight: 700;
	background-color: rgb(237, 243, 249)
}
.bentry
h2 {
	height: 2em;
	line-height: 2em;
	overflow: hidden;
	padding-left: 15px;
	font-weight: 700;
	background-color: rgb(237,243,249)
}
.list_table {
	background: rgb(255, 255, 255);
	font: 100%/normal Arial, Helvetica, sans-serif;
	font-size-adjust: none;
	font-stretch: normal
}
.list_table
td {
	background: rgb(255, 255, 255);
	font: 100%/normal Arial,Helvetica,sans-serif;
	font-size-adjust: none;
	font-stretch: normal
}
.list_table {
	margin: 0px;
	width: 100%;
	border-collapse: collapse
}
.list_table
th {
	padding: 4px;
	border: 1px
solid rgb(211, 219, 214);
	height: 30px;
	text-align: center;
	color: rgb(0, 0, 0);
	line-height: 30px;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 16px
}
.list_table
td {
	padding: 4px
6px;
	border: 1px
solid rgb(211, 219, 214);
	height: 20px;
	line-height: 20px
}
.list_table
a {
	color: rgb(35, 115, 186);
	text-decoration: underline
}
.list_table a: hover {
	color: rgb(255,51,0)
}
.qrbox {
	margin: 2px
80px 0px 10px;
	width: 265px;
	_margin-left: 26px
}
.qrbox
.qrimg {
	background: url(../Image/defqr_bg_dashed.png) center top no-repeat;
	width: 260px;
	height: 260px;
	padding-top: 0px;
	margin-bottom: 6px
}
.qrbox
.loading {
	background: url("../Image/loading.gif") no-repeat center;
	width: 256px;
	height: 256px
}
.qrbox
.qrosd {
	left: 0px;
	top: 2px
}
.qrbox
table {
	width: 260px
}
.qrbox
img {
	width: 256px;
	height: 256px
}
.qrbox
.mob_frame {
	background: url("../Image/mobile_bg.gif") no-repeat;
	padding: 37px
9px 63px 10px;
	width: 241px;
	height: 360px
}
.qrbox .mob_frame
iframe {
	width: 100%;
	height: 372px;
	-ms-overflow-y: auto
}
.tools {
	width: 260px;
	padding-top: 10px
}
.tools
.tpl {
	height: 110px
}
.tools .tpl
li {
	margin: 0px;
	width: 238px;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	cursor: pointer
}
.tools .tpl li: hover {
	background: rgb(226, 226, 226)
}
.tools .tpl li
a {
	background: url("../Image/qrcode.png") no-repeat center;
	width: 21px;
	height: 21px;
	float: left
}
.tools .tpl li
u {
	width: 210px;
	color: rgb(102, 102, 102);
	float: left
}
.tools .tpl
li.on {
	background: rgb(226, 226, 226);
	font-weight: bold
}
.tools .tpl: hover
.page {
	display: block
}
.tools .tpl
.page {
	background: rgb(226, 226, 226);
	top: 5px;
	width: 22px;
	height: 85px;
	right: 5px;
	padding-top: 20px;
	display: none
}
.tools .tpl .page
i {
	padding: 7px
0px;
	text-align: center;
	font-size: 10px;
	display: block
}
.tools .tpl .page
a {
	background: url("../Image/arrow3.png") no-repeat center 0px;
	width: 22px;
	height: 20px;
	overflow: hidden;
	display: block
}
.tools .tpl .page a.prev: hover {
	}
.tools .tpl .page
a.next {
	}
.tools .tpl .page a.next: hover {
	}
.tools .tpl
p {
	text-align: center;
	color: rgb(153, 153, 153);
	padding-top: 40px
}
.tools .tpl
.buts {
	width: 258px;
	height: 18px;
	bottom: 0px;
	padding-top: 3px
}
.tools .tpl .buts
a {
	margin: 0px
3px
}
.tools
.tits {
	height: 25px
}
.tools .tits
li {
	width: 68px;
	height: 25px;
	text-align: center;
	color: rgb(51, 51, 51);
	line-height: 25px;
	float: left;
	position: relative;
	z-index: 9999999;
	cursor: pointer
}
.tools .tits
li.first {
	}
.tools .tits
li.last {
	width: 51px
}
.tools .tits
li.on {
	height: 25px;
	line-height: 25px;
	font-weight: bold
}
.tools .tits
li.on {
	background: #1c8821;
	color: #fff;
	border-right: solid #fff 1px
}
.tools .tits li: hover {
	background: #1c8821;
	color: #fff
}
.tools
.boxs {
	border-top: solid #1c8821 2px;
	height: 115px;
	z-index: 999
}
.tools
.tanhao {
	padding: 5px
0px 0px 6px
}
.tools .tanhao: hover
.tips {
	display: block
}
.tools
.tanhao_ico {
	background: url("../Image/tanhao.png") no-repeat;
	width: 12px;
	height: 12px;
	overflow: hidden;
	display: block
}
.tools .tanhao
.tips {
	background: rgb(255, 250, 224);
	padding: 5px;
	border: 1px
solid rgb(255, 216, 85);
	top: 25px;
	color: rgb(153, 153, 153);
	line-height: 1.5;
	display: none;
	z-index: 999
}
.tools
.sitde {
	padding: 5px
0px 0px 10px
}
.tools .sitde
th {
	width: 40px;
	height: 25px;
	padding-right: 5px
}
.tools .sitde
.ibox {
	border: 1px
solid rgb(170, 170, 170)
}
.tools .base
label {
	padding: 5px
3px 0px 0px;
	float: left
}
.tools .base label
input {
	margin-top: -3px
}
.tools .base
.help {
	background: url("../Image/help.gif") no-repeat;
	margin: 5px
0px 0px 5px;
	width: 12px;
	height: 12px;
	overflow: hidden
}
.tools .base
.size {
	width: 165px;
	padding-top: 4px
}
.tools .base .style
span {
	left: 0px;
	top: 26px;
	line-height: 16px;
	position: absolute;
	cursor: pointer
}
.tools .base .style
span.z {
	left: 49px
}
.tools .base .style
span.y {
	left: 102px
}
.tools .base .style
span.h {
	left: 143px
}
.tools .base
.tips {
	left: -111px;
	width: 146px
}
.tools
.color {
	margin: 0px;
	padding-left: 10px
}
.tools .color
li {
	border: 1px
solid rgb(204, 204, 204);
	width: 16px;
	height: 16px;
	margin-left: 5px;
	float: left;
	cursor: pointer
}
.tools .color li: hover {
	border-color: rgb(89, 143, 239)
}
.tools .color
li.afc0 {
	background: rgb(255, 204, 0)
}
.tools .color
li.a3cc {
	background: rgb(51, 204, 204)
}
.tools .color
li.a9c0 {
	background: rgb(153, 204, 0)
}
.tools .color
li.af0f {
	background: rgb(255, 0, 255)
}
.tools .color
li.acff {
	background: rgb(204, 255, 255)
}
.tools .color
li.a008 {
	background: rgb(0, 0, 136)
}
.tools .color
li.a936 {
	background: rgb(0, 128, 128)
}
.tools .color
li.a00f {
	background: rgb(0, 0, 255)
}
.tools .color
li.a930 {
	background: rgb(153, 51, 0)
}
.tools .color
li.a800 {
	background: rgb(128, 128, 0)
}
.tools
.morecolor {
	margin: 3px
0px 0px 5px
}
.tools
.colorbox {
	margin-right: 10px
}
.tools .colorbox
em {
	background: rgb(255, 255, 255);
	border-width: 1px 1px 1px 0px;
	border-style: solid solid solid none;
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) currentColor;
	padding: 2px
3px;
	color: rgb(153, 153, 153);
	line-height: 1
}
.tools
.icondescr {
	padding: 0px
}
.tools
.tyai {
	background: rgb(255, 255, 255);
	padding: 10px
0px 0px 4px;
	width: 40px;
	height: 105px;
	border-right-style: solid
}
.tools .tyai
span {
	border-width: 1px 0px 1px 1px;
	margin: 0px;
	padding: 0px
3px 0px 9px;
	border-radius: 4px 0px 0px 4px;
	line-height: 23px;
	display: block;
	position: relative;
	cursor: pointer
}
.tools .tyai
span.on {
	background: rgb(245, 245, 245);
	border-color: rgb(170, 170, 170);
	width: 28px;
	font-weight: bold
}
.tools
.lsod {
	width: 213px;
	height: 115px;
	_width: 203px;
	background: #F5F5F5;
	border-radius: 0px 0px 4px 4px
}
.tools
.icons {
	padding: 13px
0px 0px 10px
}
.tools .icons
table {
	_width: 100%
}
.tools .icons
.icontips {
	padding: 5px
0px 0px 5px
}
.tools .icons
.add {
	height: 35px
}
.tools .icons
.xboxs {
	left: 70px;
	top: 7px;
	_left: 70px
}
.tools .icons .uploadify-queue-item {
	padding: 1px;
	border: 1px
solid rgb(137, 181, 189);
	width: 120px;
	height: 10px;
	overflow: hidden
}
.tools .icons
.xbar {
	background: rgb(137, 181, 189);
	margin: 0px;
	width: 0px;
	height: 10px
}
.tools .icons
.xshow {
	left: 70px;
	top: 0px
}
.tools .icons .xshow
label {
	margin-left: 10px
}
.tools .icons .xshow
img {
	width: 28px;
	height: 28px
}
.tools .icons
.size {
	width: 115px
}
.tools .icons
.tips {
	left: -153px;
	width: 220px
}
.tools
.descr {
	padding: 13px
0px 0px 10px
}
.tools .descr
.text {
	height: 20px;
	line-height: 20px
}
.tools .descr
.tips {
	left: -66px;
	width: 160px
}
.savetpl {
	padding: 40px
0px 0px 70px
}
.savetpl
input {
	height: 24px;
	line-height: 24px
}
.savetpl
p {
	padding: 20px
0px 0px 60px
}
.tysu {
	margin: 20px
0px 0px 25px;
	border-radius: 5px 0px 0px;
	top: 1px;
	height: 27px;
	border-left-color: #a0a0a0;
	border-left-width: 2px;
	border-left-style: solid;
	z-index: 21
}
.tysu
label {
	background: rgb(255, 255, 255);
	border-width: 2px 2px 2px 2px;
	border-style: solid solid solid none;
	border-color: #a0a0a0 #a0a0a0 #a0a0a0 currentColor;
	border-radius: 5px 5px 0px 0px;
	width: 70px;
	height: 24px;
	text-align: center;
	color: rgb(153, 153, 153);
	line-height: 24px;
	float: left;
	cursor: pointer
}
.tysu label: hover {
	color: rgb(51, 51, 51)
}
.tysu
label.on {
	color: #a0a0a0;
	border-bottom-color: rgb(255, 255, 255)
}
.tysu
span {
	padding: 7px
0px 0px 10px;
	color: rgb(153, 153, 153)
}
.tysu
span.size {
	padding-left: 110px
}
.inps {
	background: rgb(255, 255, 255);
	border: 2px
solid #a0a0a0;
	width: 440px;
	height: 38px;
	margin-left: 25px
}
.inps
input {
	border: 0px
currentColor;
	width: 366px;
	height: 36px;
	line-height: 36px;
	#height: 35px;
	*border: 0px;
	border: 0px\0
}
.upload
.abso {
	left: 1px;
	top: 1px;
	width: 438px;
	height: 36px;
	overflow: hidden
}
.upload .abso
.bar {
	background: rgb(137, 181, 189);
	margin: 0px;
	width: 0px;
	height: 36px
}
.network
.confirm {
	background: url("../Image/confirm_file.png") no-repeat;
	width: 39px;
	height: 30px;
	cursor: pointer
}
.network
.abso {
	background: rgb(137, 181, 189);
	left: 1px;
	top: 1px;
	width: 428px;
	height: 36px;
	line-height: 36px;
	padding-left: 10px
}
.network
.ok {
	color: rgb(44,10,157)
}
.fdescr {
	padding: 20px
0px 0px 25px;
	height: 120px
}
.fdescr
textarea {
	border: 2px
solid #A0A0A0;
	width: 438px;
	height: 60px
}
.fdescr
span {
	line-height: 1.5;
	padding-top: 10px;
	display: block
}
.complete {
	padding: 30px
0px 0px 45px;
	padding-left: 70px
}
.complete
.button {
	margin: 0px
5px;
	padding: 0px
8px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	float: left
}
.complete
.rela.button {
	padding-left: 28px
}
.complete
.checkbox {
	background: url("../Image/checkbox.png") no-repeat;
	left: 8px;
	top: 6px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer
}
.complete
.ed.checkbox {
	}
.share_box {
	background: rgb(255, 255, 255);
	padding: 2px;
	border: 1px
solid rgb(226, 226, 226);
	width: 240px;
	height: 43px;
	right: 88px;
	z-index: 2;
	_right: 83px
}
@media not
all {
	.share_box {
	bottom: 4px
}
}@media screen and(-webkit-min-device-pixel-ratio: 0) {
	.share_box {
	bottom: 4px
}
}@-moz-document url-prefix() {
	.share_box {
	bottom: 4px
}
}.embed
p {
	height: 26px;
	line-height: 26px;
	padding-left: 15px
}
.embed
p.line {
	height: 15px
}
.embed
input {
	padding: 0px
5px;
	border: 2px
solid #a0a0a0;
	width: 920px;
	height: 24px;
	line-height: 24px
}
.newli {
	margin: 25px
auto 0px;
	width: 990px;
	font-family: SimHei
}
.newti {
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold
}
.newli-top {
	margin-top: 10px
}
.newlist
li {
	height: 24px;
	color: rgb(53,53,53);
	line-height: 24px;
	font-size: 14px
}
.cat1 {
	}
.cat2 {
	margin-left: 80px
}
.cat3 {
	margin-top: 10px;
	margin-left: 80px
}
.cat3
a {
	color: black;
	font-size: 24px
}
.catborder {
	padding: 5px;
	border-radius: 5px;
	border: 1px
solid rgb(51,89,114)
}
.tipbar {
	width: 988px;
	margin-top: 25px
}
.tipbar
.ksl {
	text-align: center;
	padding-top: 10px;
	font-size: 18px
}
.tipbar .ksl
.lals {
	color: #19a3e1;
	display: inline-block;
	font-size: 24px;
	line-height: 27px
}
.tipbar
.kel {
	text-align: center;
	color: #353535;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: Microsoft YaHei
}
.tipbar
ul {
	height: 90px;
	margin-bottom: 5px;
	border-top-color: rgb(226, 226, 226);
	border-top-width: 1px;
	border-top-style: solid
}
.tipbar ul
li {
	background: url("../Image/tipbarline.gif") repeat-y right top;
	height: 99px;
	padding-top: 15px;
	margin-right: 20px;
	float: left
}
.tipbar ul li
a {
	text-decoration: none
}
.tipbar ul li
span {
	color: rgb(169, 169, 169);
	padding-top: 7px;
	font-size: 12px;
	display: block
}
.tipbar ul li
p {
	background: url("../Image/topicons.gif") no-repeat;
	color: rgb(0, 48, 79);
	line-height: 40px;
	padding-left: 40px;
	font-size: 16px;
	font-weight: normal
}
.tipbar ul li
p.ys1 {
	background-position: 0px 5px
}
.tipbar ul li
p.tb1 {
	background-position: 0px -95px
}
.tipbar ul li
p.jc1 {
	background-position: 0px -195px
}
.tipbar ul li
p.lt1 {
	background-position: 0px -295px
}
.tipbar ul
li.ys {
	width: 200px;
	padding-left: 80px
}
.tipbar ul
li.tb {
	width: 170px
}
.tipbar ul
li.jc {
	width: 160px
}
.tipbar ul
li.lt {
	width: 160px;
	margin-right: 0px
}
.tipbar
.tipewm {
	margin: 0px
0px 0px -70px;
	position: absolute
}
.tipbar
.tipg {
	color: #fa9c00
}
.art {
	line-height: 1.7;
	padding-top: 20px
}
.art
.left {
	width: 470px;
	padding-right: 20px
}
.art
.right {
	width: 470px;
	padding-left: 20px
}
.art
.cl {
	height: 30px
}
.art
h2 {
	font-size: 16px;
	margin-top: 15px
}
.art h2 a: link {
	color: rgb(0, 48, 79)
}
.art h2 a: visited {
	color: rgb(0, 48, 79)
}
.art h2 a: hover {
	color: rgb(8, 82, 131)
}
.art
p {
	padding: 5px
0px;
	color: rgb(102, 102, 102)
}
.art p a: link {
	margin: 0px
5px;
	border-bottom-color: rgb(68, 68, 68);
	border-bottom-width: 1px;
	border-bottom-style: solid
}
.art p a: visited {
	margin: 0px
5px;
	border-bottom-color: rgb(68, 68, 68);
	border-bottom-width: 1px;
	border-bottom-style: solid
}
.art p a: hover {
	border-bottom-color: currentColor;
	border-bottom-width: 0px;
	border-bottom-style: none
}
.foot {
	padding: 30px
0px 10px;
	color: rgb(153, 153, 153);
	line-height: 20px;
	background: url(../Image/foot_line.gif) left top repeat-x
}
.foot a: link {
	color: rgb(153, 153, 153)
}
.foot a: visited {
	color: rgb(153, 153, 153)
}
.foot a: hover {
	color: rgb(102, 102, 102)
}
.foot
.dsd {
	width: 110px;
	padding-top: 7px
}
.foot .dsd
a {
	background: url("../Image/qiz.png") no-repeat;
	width: 22px;
	height: 16px;
	text-indent: -99em;
	overflow: hidden;
	margin-left: 5px;
	float: left
}
.foot .dsd
a.hk {
	background-position: 0px -16px
}
.foot .dsd
a.en {
	background-position: 0px -32px
}
.foot .dsd
a.my {
	background-position: 0px -48px
}
.bot_wrap {
	background: #2f2f2f;
	width: 100%;
	overflow: hidden;
	margin-top: 40px;
	padding-bottom: 20px
}
.bot_info {
	width: 990px;
	margin: 0
auto;
	height: 280px
}
.icon_aq {
	background: url(../Image/icon_aq.gif) 40px 10px no-repeat;
	padding: 0px
0px 0 120px;
	width: 210px
}
.icon_sy {
	background: url(../Image/icon_sy.gif) 40px 10px no-repeat;
	padding: 0px
0px 0 120px;
	width: 200px
}
.icon_yx {
	background: url(../Image/icon_yx.gif) 0 10px no-repeat;
	padding: 0px
0px 0 90px;
	width: 240px
}
.bot_line {
	background: url(../Image/line.gif) right center
}
.bot_info_item {
	float: left;
	margin: 40px
0px 0;
	height: 85px
}
.bot_info_item
p {
	color: #fff;
	font: 20px/1.8 "Microsoft YaHei", arial;
	padding: 0px
0px 10px
}
.bot_info_item li
a {
	font: 16px/1.8 "Microsoft YaHei", arial;
	color: #b8b7b7;
	padding-left: 15px;
	line-height: 30px;
	height: 30px;
	width: 140px;
	display: inline-block;
	overflow: hidden
}
.bot_info_item li a: hover {
	color: #41c900
}